<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Bootstrap core CSS -->
    {{!-- <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet"> --}}
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}
      <link rel="stylesheet" href="/css/stylesSuper.css" >

    {{!-- <title>Dashboard Template for Bootstrap</title> --}}

    <!-- Bootstrap core CSS -->
    {{!-- <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet"> --}}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap" rel="stylesheet">
  <title>SmoothieMama</title>
</head>
<body>
   {{> navbar}}

<div class="container-fluid">
  <div class="row justify-content-md-center align-self-center"></div>
  
  {{{body}}}
 


</div>
</div>


  
</body>
</html>
