<div class="col col-lg-2"></div>
<div class="col col-lg-2"></div>
<div class="col col-lg-2"></div>
<h1 class="text-center"
  style="font-family: 'Noto Sans TC', sans-serif; color:rgb(156, 228, 24);text-transform:capitalize; ">Исправь статью
</h1>
<div class="col col-lg-2"></div>
<div class="col col-lg-2"></div>
<div class="col col-lg-2"></div>


<form method="post" action="/note/{{_id}}">
  <input type="hidden" name="_method" value="put">

  <label for="title-input" class="block mar-b-1">Title:</label>
  <input id="title-input" name="title" type="text" value="{{note.title}}" tabindex="1"
    class="block w-100 no-outline no-border pad-1 mar-b-2">

  <label for="body-textarea" class="block mar-b-1">Text:</label>
  <textarea id="body-textarea" name="text" tabindex="2"
    class="block w-100 h-10 no-resize no-outline no-border no-resize pad-1 mar-b-2">{{note.body}}</textarea>

  <input type="submit" value="Исправь" tabindex="3"
    class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>
