<h1>ПОЛУЧИ ПОДАРОК</h1>



<form action="/promocode" method="POST">
   <button>У меня есть промокод</button>
</form>


<form action="https://yandex.ru/">
   <button>Получить промокод</button>
</form>
