
<div class="container-fluid" >
  <div class="align-self-center"></div>

<h1 style="font-family: 'Noto Sans TC', sans-serif; color:blueviolet;">ВВЕДИ ПРОМОКОД</h1>
<form action="/register"  method="POST">
  <div class="white">   
    <input name="promocode" type="text" class="promocode">
  </div>
  <button type="submit" class="btn btn-primary bg-warning">Поехали</button>
</form>
 
 


</div>
</div>
