

<h1>ВВЕДИ ПРОМОКОД</h1>
<form action="/register"  method="POST">
  <div class="white">   
    <input name="promocode" type="text" class="promocode">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
