 <!-- Custom styles for this template -->
    <script  src="https://unpkg.com/feather-icons"></script>
  <body>
</div>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="">Мой кабинет</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  График покупок <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item"> 
                <a class="nav-link" href="super/customers" id="customers">
                  <span data-feather="users"></span>
                  Покупатели
                </a>
              </li>
            </ul>

           <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Выгрузить</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a  class="nav-link" href="" id="downoload-list" >
                  <span data-feather="file-text"></span>
                  Всех пользователей
                </a>
              </li>
            </ul>
          </div> 
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
               <button class="btn btn-sm btn-outline-secondary dropdown-toggle" id = "btn-three-day">
                <span data-feather="calendar"></span>
               Три дня
              </button> 
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle" id = "btn-week">
                <span data-feather="calendar"></span>
                Неделя
              </button> 
                 <button class="btn btn-sm btn-outline-secondary dropdown-toggle" id = "btn-mounth">
                <span data-feather="calendar"></span>
                Месяц
              </button> 
            </div>
          </div>

          <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

           <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Количество покупок</th>
                  <th>Общая прибыль</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id = "all-purchases">{{count}}</td>
                  <td id = "sum">{{AllSum}}</td>
                   </tr>
              </tbody>
            </table>
          </div> 
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    {{!-- <script defer src="../../../../assets/js/vendor/popper.min.js"></script> --}}
    {{!-- <script defer src="../../../../dist/js/bootstrap.min.js"></script>  --}}

    <!-- Icons -->
    <script>
       feather.replace() 
    </script>

    <!-- Graphs -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    {{!-- <script defer src="./index.js"></script> --}}
    <script defer src = "/js/applicationSuper.js"></script>
